/*-- Colors --*/

:root {
  --white--clr: rgb(255, 255, 255);
  --black--clr: rgb(0, 0, 0);

  --light-gray--clr: hsl(212, 45%, 89%);
  --grayish-blue--clr: hsl(220, 15%, 55%);
  --dark-blue--clr: hsl(218, 44%, 22%);
}
